.search-bar {
    display: block; /* Usar flexbox para colocar los elementos en línea */
    width: 70%; /* Ancho deseado */
    padding: 0px; /* Espacio interno */
    margin: 90px auto;
    background-color: #1A1916; /* Color de fondo negro */
    z-index: 1;
    border-radius: 20px; /* Esquinas redondeadas */
}


.search-input {
    width: 90%; /* Ancho deseado */
    padding: 10px; /* Espacio interno */
    margin: 5px;
    border: none; /* Sin borde */
    border-radius: 20px; /* Esquinas redondeadas */
    background-color: #00000000; /* Color de fondo negro */
    color: white; /* Color del texto */
    text-align: center; /* Texto centrado */
    font-size: 16px; /* Tamaño de fuente */
    z-index: 1;
}

.search-button {
    background-color:#00000000; /* Hacer el botón transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor apuntando */
    font-size: 25px; /* Tamaño de fuente heredado */
    color: rgb(240, 240, 240); 
    padding: 0px; /* Sin relleno */
    margin: 5px; /* Sin margen */
    height: 40px; /* Altura automática */
    width: 60px; /* Ancho automático */
    border-radius: 20px; /* Esquinas redondeadas */
}
.search-button:active {
    background-color: rgb(66, 66, 66); /* Cambiar el color de fondo cuando se presiona el botón */
    color: white; /* Cambiar el color del texto cuando se presiona el botón */
}